# Ignore dependencies
node_modules/

# Ignore environment variables
.env

# Ignore package-lock.json (optional)
package-lock.json

#Ignore .nyc_output file
.nyc_output

#Ignore coverage file
coverage
